
.wrapper {
    display: grid;
    color: black;

    align-items: center;
    
    z-index: 0;
}
.wrapper > div{
    background: #eeec;
    /* opacity: 0.8; */
    padding: 1em;

    border-radius: 2%;
}
.wrapper > div:nth-child(odd){
    background: #fffc;
}

/* reformat for mobile */
@media only screen and (max-device-width: 1024px) {
    
    .wrapper {
        display: block;
    }

    .wrapper>div {
        background: #ddd;
        /* opacity: 0.8; */
        padding: 1em;

        border-radius: 0%;
    }

    /* .wrapper > div:nth-child(even){
        padding: 0.2em;
    }

    .wrapper > div:nth-child(odd){
        grid-column-start: 1;
        grid-column-end: 3;
    } */

    .video {
        width: auto;
        max-width: 100%;
        height: auto;
    }

}

