
/* gallery */
.gwrapper{
    
    padding-top: 10%;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 0.5em;
    justify-items: stretch;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}

/* .gwrapper > div{
    
} */
.gwrapper > div:nth-child(4){
    grid-template-columns: 2fr 1fr 2fr;
}

.galleryimg {
    max-width: 100%;
    max-height: 100%;
    
    border-radius: 2%;
}

.galleryimg:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    
    box-shadow: 0px 0px 10px #ddd;
    max-width: 101%;
    max-height: 101%;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {

    .gwrapper {
        grid-template-columns: 1fr;
        grid-gap: 0em;
        padding-top: 15vh;
        margin-left: 0%;
        margin-right: 0%;
    }

}