.icon {
    height: 50px;
}

.container {

    background-color: #698C82;

    filter: drop-shadow(-1px 4px 2px);

    overflow: hidden;
    
    z-index: 1;
    width: 100%;
    max-height: 10%;

}

.container a:hover {
    background: #88c09d;
    color: 303030;
}

.noIcon {
    float: left;
    font-size: x-large;
    margin-left: 1%;
    height: 100%;
}
