---
import AboutHeroImage from '../assets/subway.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Gallery"
	description="nothing here yet..."
	pubDate={new Date('July 1846')}
>
	<p>
		Check in Later
	</p>
</Layout>
