---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome!</h1>
			<p>
				This is the personal website of Garrett Holmes. This site is a
				major work in progress while I migrate from my old ReactJS
				framework to AstroJS. If you are seeing this page it means I'm
				stilling working on re-designing everything from scratch! Some
				links are listed below with some information about me that will
				be expanded on in the final version.
			</p>
			<p>
				<code>printf("%s\n", "Hello World!")</code>
			</p>
			<p>Links</p>
			<ul>
				<li>
					<a href="https://www.linkedin.com/in/garrett-a-holmes/"
						>My LinkedIn</a
					>
				</li>
				<li>
					<a
						href="https://watershed.geography.ryerson.ca/the-group.html"
						>Watershed Hydrology</a
					>
				</li>
				<li>
					<a href="/documents/poster.pdf"
						>My Thesis (Canadian Geophysical Union Poster)</a
					>
				</li>
				<li>
					<a href="https://github.com/ga-holmes/cows_drinking"
						>Precision Livestock Agriculture (PLF) AI Research</a
					>
				</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
